# EasySMX X05 Pro
KERNEL=="hidraw*", KERNELS=="*2345:E07A*", MODE="0660", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="2345", ATTRS{idProduct}=="E07A", MODE="0660", TAG+="uaccess"
