ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{idVendor}=="1c7a", ATTR{idProduct}=="0588", ATTR{power/control}="auto"

# remove fp sensor for GPD Win 4
SUBSYSTEM=="usb", ATTR{idVendor}=="2808", ATTR{idProduct}=="9338", ATTR{remove}="1"

# remove fp sensor for GPD Win Max 2
SUBSYSTEM=="usb", ATTR{idVendor}=="2541", ATTR{idProduct}=="9711", ATTR{remove}="1"

# Validity Sensors, Inc. Fingerprint Reader
#ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2808", ATTR{idProduct}=="0752", \
#    TEST=="power/control", ATTR{power/control}="auto", \
#    TEST=="power/wakeup", ATTR{power/wakeup}="disabled"

ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="2808", ATTR{idProduct}=="0752", RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb/devices/%k/remove'"