# SHANWAN Android Gamepad; USB
KERNEL=="hidraw*", KERNELS=="*0079:181C*", MODE="0660", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="0079", ATTRS{idProduct}=="181c", MODE="0660", TAG+="uaccess"
